body
{
  background-image: radial-gradient(circle, #CE4257,#FF7F51);
  color: #EEE;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
}
.grid-container
{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
}

.grid-item
{
  border: 1px solid #EEE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .9em;
}

.grid-item:nth-child(3), .grid-item:nth-child(4)
{
  background-color: #FF9B54;
}

.grid-item:first-child, .grid-item:nth-child(2)
{
  background-color: #720026;
}

.grid-item:nth-child(4)
{
  grid-column-start: 1;
  grid-row-start: 1;
}

.grid-item:nth-child(3)
{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

 .grid-item:nth-child(2)
 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
 }

 .grid-item:nth-child(9)
 {
   grid-column-start: span 4;
 }
