.box
{
  height: 200px;
  width: 200px;
  border: solid black;
  margin: .01em;
  display: inline-block;
  text-align: center;
  line-height: 200px;
}

.box-name
{
  background-color: cadetblue;
  color: white;
}
.box-rgb
{
  background-color: rgb(0, 58, 87);
  color: rgb(255,255, 255);
}
.box-rgba
{
  background-color: rgba(255,125,4,.5);
  color: rgba(255, 255, 255, 0.8);
}
.box-hexa
{
  background-color: #F00;
  color: #FFF;
}
.box-hsl
{
  background-color: hsl(80, 70%, 70%);
  color: hsl(0,0%,100%);
}
.box-hsla
{
  background-color: hsla(45, 70%, 50%, 0.5);
  color: hsla(0, 0%, 100%, 0.8);
}
